<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>community</key>
	<array>
		<dict>
			<key>areaCode</key>
			<string>86</string>
			<key>communityid</key>
			<string>2</string>
			<key>communityname</key>
			<string>阳光酒店</string>
			<key>controlCardAuthority</key>
			<string>1</string>
			<key>role</key>
			<string>1</string>
		</dict>
	</array>
	<key>data</key>
	<dict>
		<key>address</key>
		<string></string>
		<key>areaCode</key>
		<string>86</string>
		<key>certification</key>
		<string>0</string>
		<key>email</key>
		<string></string>
		<key>gender</key>
		<string>1</string>
		<key>gesture</key>
		<string>MDAwLTAwMCYwMDEtMDAwJjAwMi0wMDAmMDAyLTAwMSYwMDItMDAy</string>
		<key>headUrl</key>
		<string>/Uploads/User/20151106/563c021911db5.jpg</string>
		<key>id</key>
		<string>3</string>
		<key>identityId</key>
		<string></string>
		<key>mobile</key>
		<string>18674524111</string>
		<key>name</key>
		<string>万星星</string>
		<key>phone</key>
		<string></string>
		<key>token</key>
		<string>YiYEVQ2fxwLFmLJojT76dztpcpmZpsZgQZ+2g3ybfnrvRe5ekK1MFsqCLD+JjGlo9gCDgCZaAWc0/npD9tj0/4I24BqYB0iXIIx04yArH7RZ5pBkSlg8i/DCDRISZOVhYxQS0AybbHf/LJU2oKuHSxXopaYfq5wACkOrP1auVia9noPNQphd9+YWEGaf1GPrbU2kGLjD9ycIK0Z8me3qX+5zN4SObhi7bip3lotRuqtMGYGIi01Uf45O5CTSLvvkCc1gW5L91pGwRu5dvBMBXcwvlVVyQOggFDkZSKYFGxzbZ4ZG3scZUvfrxYcC7tB5ZU3m73VAUtrN/8f/lPIUbw==</string>
	</dict>
	<key>info</key>
	<string>Success</string>
	<key>roomInfo</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>86</string>
			<key>buildingid</key>
			<string>267</string>
			<key>buildingname</key>
			<string>问题复现</string>
			<key>buildingno</key>
			<string>001</string>
			<key>communityentity_id</key>
			<string>2</string>
			<key>contact</key>
			<string>卡达柯</string>
			<key>description</key>
			<string></string>
			<key>floors</key>
			<array>
				<dict>
					<key>builderinfo_id</key>
					<string>267</string>
					<key>description</key>
					<string></string>
					<key>floorid</key>
					<string>577</string>
					<key>floorname</key>
					<string>kk</string>
					<key>floorno</key>
					<string>000</string>
					<key>no</key>
					<string>0</string>
					<key>rooms</key>
					<array>
						<dict>
							<key>builderinfo_id</key>
							<string>267</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>577</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 0,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>001</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>2065</string>
							<key>roomname</key>
							<string>再改过来</string>
							<key>roomno</key>
							<string>001</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>telephone</key>
			<string>13522222222</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>86</string>
			<key>buildingid</key>
			<string>6</string>
			<key>buildingname</key>
			<string>测试</string>
			<key>buildingno</key>
			<string>002</string>
			<key>communityentity_id</key>
			<string>2</string>
			<key>contact</key>
			<string>宋安伟</string>
			<key>description</key>
			<string>王企鹅去</string>
			<key>floors</key>
			<array>
				<dict>
					<key>builderinfo_id</key>
					<string>6</string>
					<key>description</key>
					<string>就是来测试的是吧</string>
					<key>floorid</key>
					<string>95</string>
					<key>floorname</key>
					<string>测试层</string>
					<key>floorno</key>
					<string>111</string>
					<key>no</key>
					<string>1</string>
					<key>rooms</key>
					<array>
						<dict>
							<key>builderinfo_id</key>
							<string>6</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>95</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 0,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>121</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>287</string>
							<key>roomname</key>
							<string>121</string>
							<key>roomno</key>
							<string>121</string>
						</dict>
						<dict>
							<key>builderinfo_id</key>
							<string>6</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>95</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 90,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>131</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>288</string>
							<key>roomname</key>
							<string>131</string>
							<key>roomno</key>
							<string>131</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>telephone</key>
			<string>18819238549</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>86</string>
			<key>buildingid</key>
			<string>2</string>
			<key>buildingname</key>
			<string>朝阳栋</string>
			<key>buildingno</key>
			<string>101</string>
			<key>communityentity_id</key>
			<string>2</string>
			<key>contact</key>
			<string>万星星</string>
			<key>description</key>
			<string>朝阳栋a</string>
			<key>floors</key>
			<array>
				<dict>
					<key>builderinfo_id</key>
					<string>2</string>
					<key>description</key>
					<string></string>
					<key>floorid</key>
					<string>216</string>
					<key>floorname</key>
					<string>CESHI</string>
					<key>floorno</key>
					<string>001</string>
					<key>no</key>
					<string>1</string>
					<key>rooms</key>
					<array>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>216</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 0,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>101</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>1070</string>
							<key>roomname</key>
							<string>ASDASD</string>
							<key>roomno</key>
							<string>101</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>builderinfo_id</key>
					<string>2</string>
					<key>description</key>
					<string>第一层</string>
					<key>floorid</key>
					<string>2</string>
					<key>floorname</key>
					<string>1层</string>
					<key>floorno</key>
					<string>101</string>
					<key>no</key>
					<string>0</string>
					<key>rooms</key>
					<array>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>2</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 90,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>002</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>147</string>
							<key>roomname</key>
							<string>102</string>
							<key>roomno</key>
							<string>101</string>
						</dict>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>2</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 180,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>003</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>148</string>
							<key>roomname</key>
							<string>103</string>
							<key>roomno</key>
							<string>103</string>
						</dict>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>2</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 270,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>004</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>210</string>
							<key>roomname</key>
							<string>104</string>
							<key>roomno</key>
							<string>104</string>
						</dict>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>2</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 361,"y": 1},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>005</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>211</string>
							<key>roomname</key>
							<string>105</string>
							<key>roomno</key>
							<string>105</string>
						</dict>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>2</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 450,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>106</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>377</string>
							<key>roomname</key>
							<string>106</string>
							<key>roomno</key>
							<string>106</string>
						</dict>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>2</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 540,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>107</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>378</string>
							<key>roomname</key>
							<string>107</string>
							<key>roomno</key>
							<string>107</string>
						</dict>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>2</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 630,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>108</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>379</string>
							<key>roomname</key>
							<string>108</string>
							<key>roomno</key>
							<string>108</string>
						</dict>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>2</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 720,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>109</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>380</string>
							<key>roomname</key>
							<string>109</string>
							<key>roomno</key>
							<string>109</string>
						</dict>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>2</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 0,"y": 90},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>110</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>381</string>
							<key>roomname</key>
							<string>110</string>
							<key>roomno</key>
							<string>110</string>
						</dict>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>2</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 92,"y": 95},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>111</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>382</string>
							<key>roomname</key>
							<string>111</string>
							<key>roomno</key>
							<string>111</string>
						</dict>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>2</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 0,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>101</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>2</string>
							<key>roomname</key>
							<string>101</string>
							<key>roomno</key>
							<string>123456789123456789</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>builderinfo_id</key>
					<string>2</string>
					<key>description</key>
					<string>谁会</string>
					<key>floorid</key>
					<string>125</string>
					<key>floorname</key>
					<string>2层</string>
					<key>floorno</key>
					<string>201</string>
					<key>no</key>
					<string>1</string>
					<key>rooms</key>
					<array>
						<dict>
							<key>builderinfo_id</key>
							<string>2</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>125</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 0,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>201</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>367</string>
							<key>roomname</key>
							<string>201</string>
							<key>roomno</key>
							<string>201</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>telephone</key>
			<string>18674524119</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>86</string>
			<key>buildingid</key>
			<string>145</string>
			<key>buildingname</key>
			<string>公司样锁测试楼栋</string>
			<key>buildingno</key>
			<string>123</string>
			<key>communityentity_id</key>
			<string>2</string>
			<key>contact</key>
			<string>洪伟</string>
			<key>description</key>
			<string>测试样锁</string>
			<key>floors</key>
			<array>
				<dict>
					<key>builderinfo_id</key>
					<string>145</string>
					<key>description</key>
					<string>测试</string>
					<key>floorid</key>
					<string>250</string>
					<key>floorname</key>
					<string>测试楼层</string>
					<key>floorno</key>
					<string>000</string>
					<key>no</key>
					<string>0</string>
					<key>rooms</key>
					<array>
						<dict>
							<key>builderinfo_id</key>
							<string>145</string>
							<key>communityentity_id</key>
							<string>2</string>
							<key>floorinfo_id</key>
							<string>250</string>
							<key>isSelected</key>
							<string>0</string>
							<key>layout</key>
							<string>{"translate": {"x": 0,"y": 0},"width": 80,"height": 80}</string>
							<key>lockno</key>
							<string>111</string>
							<key>occupation</key>
							<string>0</string>
							<key>roomid</key>
							<string>1192</string>
							<key>roomname</key>
							<string>公司测试样锁</string>
							<key>roomno</key>
							<string>401g</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>telephone</key>
			<string>13316107997</string>
		</dict>
	</array>
	<key>status</key>
	<integer>200</integer>
</dict>
</plist>
